.form-disabled-label {
	opacity: .3;
}

.form-label-date {
	
}

.form-label-exams-date {
	color: grey;
}

.form-label-exam-date-manual {
	color: grey;
}

.form-label-bloqueado-date-manual .x-form-cb-label {
    color: darkorange;
    opacity: .6;
}

.form-legend-exams {
	color: grey;
	font-style: italic;
}

.form-legend-bloqueada {
    color: darkorange;
    font-style: italic;
}

.time { background-image: url(//static.uji.es/js/extjs/uji-commons-extjs/img/time.png) !important; background-repeat: no-repeat; }

.caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.tituloGrupo {
    font-weight: bold;
    margin-left: 5px;
 }

/* ===== x-cal-33 ===== */
.x-cal-33,
.x-cal-33-x .ext-cal-evb,
.ext-ie .x-cal-33-ad,
.ext-opera .x-cal-33-ad {
    color: #999;
}
.ext-cal-day-col .x-cal-33,
.ext-dd-drag-proxy .x-cal-33,
.x-cal-33-ad,
.x-cal-33-ad .ext-cal-evm,
.x-cal-33 .ext-cal-picker-icon,
.x-cal-33-x dl,
.x-calendar-palette .x-cal-33 span {
    background-color: #999;
}
.x-cal-33-ad,
.x-cal-33-ad .ext-cal-evm {
    border-color: #999;
}

.clase-sin-planificar-estado-1.x-btn-default-small {
    background-color: #999;
    background-image: none;
    border-color:  #999;
}

.clase-sin-planificar-estado-2.x-btn-default-small, .clase-sin-planificar-circuito-estado-2 {
    background-color: #7399f9;
    background-image: none;
    border-color:  #7399f9;
}

.clase-sin-planificar-estado-3.x-btn-default-small-pressed, .clase-sin-planificar-circuito-estado-1 {
    background-color: #133897;
    background-image: none;
    border-color:  #133897;
}

.clase-sin-planificar-estado-4.x-btn-default-small {
    background-color: #eda12a;
    background-image: none;
    border-color: #eda12a;
}

.clase-sin-planificar-estado-1.x-btn-default-small .x-btn-inner,
.clase-sin-planificar-estado-2.x-btn-default-small .x-btn-inner,
.clase-sin-planificar-estado-3.x-btn-default-small-pressed .x-btn-inner,
.clase-sin-planificar-estado-4.x-btn-default-small .x-btn-inner,
.clase-sin-planificar-circuito-estado-1.x-btn-default-small .x-btn-inner,
.clase-sin-planificar-circuito-estado-2.x-btn-default-small .x-btn-inner {
    color: #fff;
}

.infobox {
    padding: 5px;
    background-color: #bed3f0;
}

.infobox tspan {
    font-weight: bold;
    font-size: 1.2em;
}

.errorbox {
    padding: 5px;
    background-color: #fcc;
}

.errorbox tspan {
    font-weight: bold;
    color: #c00;
}

.x-grid-with-row-lines .x-grid-cell-inner {
    white-space: normal;
}

.extensible-cal-icon-evt-lang {
    background-image:url(//static.uji.es/img/icons/famfam/silk/user_comment.png) !important;
}
